*.o
*.lo
Makefile
Makefile.in
config.h
resources.[ch]
.deps
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
interactive
interactive.ui.h
libtool
ltmain.sh
missing
stamp-h1
